@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

main {
  padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}